@font-face {
    font-family: 'Grobold';
    src: url('./../assets/fonts/grobold/GROBOLD.ttf') format('truetype'),
        url('./../assets/fonts/grobold/GROBOLD.woff') format('woff'),
}

html,
body {
    height: 100vh;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 2px solid white;
    border-radius: 5px;
}